body {
  font-family: courier new;
  background-color: #00f;
  color: #fff;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}


h2 {
  font-family: courier new;
  font-weight: normal;
  font-size: inherit;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: courier new;
  font-weight: normal;
  font-size: inherit;
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0;
}

h4 {
  font-family: courier new;
  font-weight: normal;
  font-size: inherit;
  text-align: right;
  margin: 0;
}

a, a:visited {
  font-family: courier new;
  font-weight: normal;
  font-size: inherit;
  text-align: left;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover {
  color: #0f0;
}

#nav a {
  top: calc(100vh - 100px);
  position: fixed;
  width: calc(100vw - 100px);
  float: right;
  text-align: right;
  color: #fff;
}
#nav a:hover {
  color: #0f0;
}

#empty-space {
  height: 100vh;
}

#hidden {
  display: none;
}
